/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #ffffff;
  line-height: 1.6;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 45px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #cccccc;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-img {
  position: absolute;
  inset: 0;
  opacity: 50%;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  max-width: 800px;
  padding: 20px;
  color: #ffffff;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.btn-primary {
  background: #ffffff;
  color: #000000;
  padding: 15px 35px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.section {
  padding: 100px 20px;
}

.section.dark {
  background: #000000;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  align-items: center;
}

.image-rounded {
  width: 100%;
  border-radius: 20px;
  padding: 12px;
  max-width: 520px;
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #141414;
  padding: 35px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card.highlight {
  border: 1px solid #ffffff;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}

.footer {
  background: #000000;
  text-align: center;
  padding: 40px 20px;
}

.footer-logo {
  height: 60px;
  margin-bottom: 15px;
}

.footer span {
  font-weight: bold;
}
